---

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pjx</title>
	</head>
	<body>

            
            
                   
                
                    <a href="/">Home</a>
                   <a href="/about/">About</a>
                    <a href="/blog/">Posts</a>

                    <h1>Pjx</h1>

        
		<h2 class="sbh">Winter Felt</h2>
		<p>Aperiam dolorum fuga, quibusdam natus ea, 
            <br>ipsum, totam quis repellendus architecto 
            <br>quam facere quae fugit perspiciatis 
            <br>enim dicta quisquam minus ducimus rerum 
            <br>eligendi excepturi alias expedita. 
            <br>Culpa, dolores perferendis! Quos ea sequi eveniet! Itaque saepe est ducimus, provident corrupti exercitationem. 
            <br>Reiciendis repellendus laboriosam sit libero ea ad accusantium, 
            <br>non dicta dolorem illo amet assumenda error 
            <br>debitis quaerat nihil aspernatur 
            <br>et impedit repellat velit sunt accusamus, 
            <br>nulla voluptates cupiditate iusto. Nihil?</p>
	</body>
</html>

<style>
	body {
		background-color: rgb(219, 182, 157);
	}

    a {
		padding: 4px;
	}

	h1 {
		padding: .5rem;
	}

	h2 {
		padding: .5rem;
	}

	.sbh {
		text-align: center;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		width: 30em;
	}
</style>
