---
const pageTitle = "The Doggerel Journal";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Posts</a>
		<h1 class="title">{pageTitle}: 
			<br><span>Thee Premium Bad Writing Site</span></h1>
		<h1 class="sbh">The Astro Doggerel Site</h1>
		<p>Where Poetry, sci-fi, and humor Comes to Melt its Wings before the eyes of the blinding light that is society's scrutiny</p>
	</body>
</html>

<style>
	body {
		font-family: 'Courier New', Courier, monospace;
		background-color: rgb(219, 182, 157);
	}

	a {
		padding: 4px;
	}

	h1 {
		padding: .5rem;
	}

	.title {
		text-align: center;
	}

	.sbh {
		text-align: center;
		text-decoration: underline;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		width: 30em;
	}
</style>
