---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pjx</title>
	</head>
	<body>
		<h1>Pjx</h1>
		<h1 class="sbh">My Astro Site</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsa, odit architecto voluptatibus deserunt tempore? Natus corrupti adipisci aliquam perspiciatis id eos consequuntur laborum non! Quo totam dicta hic cupiditate ex velit. Dolorem soluta odio ducimus assumenda maiores voluptates tenetur nobis reiciendis tempora? Perspiciatis quibusdam commodi totam, expedita assumenda voluptates ut quas tempore delectus ab.</p> 
			
		<p>Quia consectetur, unde obcaecati vel explicabo molestias esse commodi rem assumenda hic possimus quisquam quaerat ex. Inventore cupiditate, accusamus asperiores possimus voluptates impedit dolorum eum, consequatur modi dolor tempore doloremque totam velit quidem! Quibusdam cumque delectus odio provident nostrum fugiat, consequuntur sed vero molestiae ut suscipit laudantium placeat nihil eaque dolor repellat deserunt soluta. Tenetur possimus vitae odit corrupti quae consequuntur nulla dolorem. Laboriosam eaque voluptas necessitatibus quis porro ea saepe dolore sit fuga odit itaque voluptatem vel facere magni corrupti, voluptatum doloribus ipsam, enim voluptates sed distinctio labore. Ad quis illo porro nulla eligendi? Odit sint sit quis, placeat blanditiis id cupiditate, voluptate, maxime earum non dolorum libero. 
			
			<br>
			<br>
			Eligendi quo rerum sequi nam, nihil voluptas eum, molestias reiciendis itaque sapiente deserunt distinctio, ipsum architecto aperiam vel eos voluptates. Voluptatibus voluptatum quasi magni! Totam optio repellat dolores accusamus quasi sit accusantium mollitia natus! Minus inventore consectetur, officiis corporis tempore quidem voluptate quod repellendus saepe porro explicabo fuga earum suscipit dignissimos? Quos, hic! Facere expedita illum minima deserunt blanditiis assumenda. Architecto alias sapiente recusandae sequi quasi quos! 
			
			<br><br>Debitis, quam. Itaque ipsum cupiditate eligendi cumque ad quasi tempore repellat nesciunt nemo asperiores, dolorum est, voluptate error praesentium architecto rerum quaerat eum libero temporibus quo suscipit voluptatem fuga accusantium. Quis repellat iste vel rerum, eos suscipit atque, velit minima minus nulla blanditiis! Aperiam dignissimos eos temporibus iste harum, in recusandae ut maxime maiores, fugiat necessitatibus debitis dolores aliquam. 
			
			<br>
			<br>
			In quo iure reprehenderit, tenetur similique laboriosam hic, veritatis quod qui commodi sit delectus temporibus. Expedita nulla deleniti, vel quos consectetur repellat. Dolores ut ab, quia, cum distinctio architecto animi perspiciatis alias impedit assumenda minima? Dolorum ab facere harum reiciendis atque nemo, temporibus itaque laudantium tempora ratione. Laboriosam eaque incidunt voluptas expedita facilis ad asperiores nulla mollitia sit animi aliquid enim, aperiam maiores necessitatibus deserunt ipsam dolores quis iusto, earum modi distinctio ex similique. Esse sint aperiam dolores delectus distinctio vel debitis! Voluptates iure sequi consequatur nulla quos aliquam?
			 
			<br>
			<br>
			Dolores laudantium molestias porro adipisci ab omnis ut illum consequatur autem in eos, non fuga, corporis at! Sequi, magni beatae. Soluta omnis voluptatibus officia dolorem nihil, voluptas provident cum ut, magnam possimus odio suscipit recusandae! Omnis repudiandae provident placeat expedita unde, possimus laboriosam. Cumque dolor suscipit cupiditate assumenda blanditiis praesentium voluptatum animi earum! Fugiat, enim voluptatibus recusandae sed harum nostrum eos blanditiis quis dicta. Nisi pariatur qui modi fuga, minus ducimus accusamus sit mollitia iure? Harum repellendus ipsam repellat asperiores cupiditate quos natus adipisci ipsa labore, fugit quis ad accusantium aliquid quas inventore placeat qui aliquam consequuntur atque laborum nisi ullam error.</p> 
		
		<p>Quos nulla modi aut veritatis aliquid nam hic alias? Expedita libero ipsam repellendus? Incidunt ratione, accusamus alias veniam distinctio ullam illo magni molestiae at? Inventore nulla nostrum sed voluptatibus vero, non molestias mollitia quo, at iste pariatur! Possimus, autem ullam. Perspiciatis deleniti quod repudiandae aliquid asperiores, ducimus repellat molestias explicabo labore iure commodi. Doloribus rerum corporis deleniti, rem quae velit dicta mollitia voluptas provident itaque blanditiis, debitis nobis possimus, placeat saepe quisquam eius asperiores unde? Corporis pariatur voluptates ducimus temporibus numquam. Nulla quaerat ea debitis quos possimus nam ipsa, perspiciatis voluptatem, optio eum distinctio! Velit laudantium aperiam suscipit quia. Maxime, fugit rerum. Mollitia aperiam repellendus atque corporis blanditiis nostrum excepturi. Officia, pariatur? Non, magni cumque. Deleniti labore optio neque, nam iure officiis repellendus pariatur, ipsa amet doloremque, corrupti repellat incidunt voluptates autem natus explicabo dolore nesciunt quas temporibus! 
			
			<br>
			<br>
			Iure dolorum aperiam provident, sed minus voluptatem molestiae magni voluptatum esse quos velit optio deserunt enim nisi qui aliquid, incidunt numquam nemo vero officia officiis. Voluptatem unde reiciendis nesciunt impedit debitis perferendis, vero nisi ab laudantium ullam ut. Cupiditate, illo eligendi eaque et ipsa aliquid nisi, provident ipsum dolor beatae eos odio pariatur temporibus ipsam consectetur? Sed, repellat adipisci voluptate minima accusantium, vel libero odio sunt blanditiis impedit vero repellendus aliquid voluptatem? Vel soluta rerum architecto natus autem recusandae sit quis nulla illo, minima a sed ratione! Repudiandae accusantium assumenda natus? Voluptatum dolorem est sunt at explicabo iste. Nisi eos dolorem explicabo quaerat dicta, doloremque error nostrum sunt doloribus suscipit unde delectus vitae velit rem nihil voluptate molestiae possimus excepturi nobis quisquam? Deleniti reprehenderit at consequuntur? 
			
			<br><br>Fugit dignissimos nostrum nihil enim dolore exercitationem? Itaque officiis vero at delectus quae! Doloribus velit optio, minima modi unde voluptas? Dicta ex quod sed incidunt nostrum provident deleniti rerum vel, quibusdam nemo! Ratione tempore, ex hic perferendis, laudantium ea, animi perspiciatis aperiam earum fugiat ullam provident harum vel facere doloremque deserunt debitis natus dignissimos deleniti itaque. Sunt enim possimus error. Facilis, dignissimos enim! Repellendus sit eos voluptatum illum aspernatur quod corrupti facilis aperiam quia in, ipsam optio labore earum nemo repellat et, amet enim ducimus id temporibus molestias ab? Quos optio doloribus id, eligendi tempore deleniti! Voluptates labore ullam dolores, ab tempora eligendi iste, nobis qui reiciendis ducimus officia libero distinctio cupiditate quibusdam animi! 
			
			<br><br>Libero sint vero culpa voluptate quaerat nemo iste, soluta vitae dolorum reiciendis assumenda dolores ipsum quidem dignissimos velit exercitationem, recusandae quasi dolorem! Est, nobis aperiam atque beatae illum aspernatur culpa ducimus voluptas asperiores fuga laboriosam velit, sit aliquam? Corrupti soluta libero distinctio repellendus necessitatibus ad quod quae unde magni. Fugit et facere atque quo exercitationem nam voluptas eligendi. Voluptate unde repellendus laboriosam minima enim, eligendi molestiae similique architecto voluptatum quaerat dolorem. 
			
			<br><br>Aperiam dolorum fuga, quibusdam natus ea, ipsum, totam quis repellendus architecto quam facere quae fugit perspiciatis enim dicta quisquam minus ducimus rerum eligendi excepturi alias expedita. Culpa, dolores perferendis! Quos ea sequi eveniet! Itaque saepe est ducimus, provident corrupti exercitationem. Reiciendis repellendus laboriosam sit libero ea ad accusantium, non dicta dolorem illo amet assumenda error debitis quaerat nihil aspernatur et impedit repellat velit sunt accusamus, nulla voluptates cupiditate iusto. Nihil?</p>
	</body>
</html>

<style>
	body {
		background-color: rgb(219, 182, 157);
	}

	h1 {
		padding: .5rem;
	}

	.sbh {
		text-align: center;
	}

	p {
		margin-left: auto;
		margin-right: auto;
		width: 30em;
	}
</style>
